@import url('https://fonts.googleapis.com/css2?family=Tiro+Devanagari+Marathi:ital@0;1&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Tiro Devanagari Marathi", serif;
}



/* ========================================================= */
/*========================= Navbar=========================== */
/* ========================================================= */

.nav_heading {
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}

/* Hover state */
.nav_heading:hover {
  background-color: white;
}

/* Active state */
.nav_heading.active {
  background-color: white;
  color: black;
}

@media (max-width:1025px){
  /* navbar */
  .nav_laptop{
    display: none;
  }
}

@media (min-width:1025px) {
  /* navbar */
  .nav_laptop{
    display: block;
  }
  .navTablet{
    display: none;
  }
}





/* ========================================================= */
/*========================= Home=========================== */
/* ========================================================= */

@media (max-width:769px){
  .homeDetailsBtn{
    display: none !important;
  }
}


@media (min-width:1400px)
{
  .benefit_card{
    font-size: 72%;
  }
}


/* ========================================================= */
/*========================= About=========================== */
/* ========================================================= */


@media (min-width:768px){
  /*  */
}




/* ========================================================= */
/*========================= Program=========================== */
/* ========================================================= */




/* ========================================================= */
/*========================= services=========================== */
/* ========================================================= */


@media (max-width:992px){
  .teamCardDetails{
    border:1px solid black;
    font-size:1rem;
  }
}